<style type="text/css">
header.header {
display: flex;
align-items: center;
}

header.header img {
width: 150px;
}

section.top-page {
background: url('../image/tele2.jpg');
/*background-size: cover;*/
background-size: 600px 600px;
height: 80vh;
padding: 25px;
}
.landing-page {
position: relative;
padding: 20px 50px;
}

.big-title {
color: white;
text-shadow: 0px 0px 5px blue;
font-size: 80px;
font-family: 'Abril FatFace', cursive;
font-weight: 100;
width: 60%;
}


.span{
    font-size: 100px;
    text-align: center;
    position: relative;
    color:white;

}
.span::before{
    position:absolute;
    content:"";
    width: 60px;
    bottom: 0px;
    height: 10px;
    background-color: blue;
}
.section-title {
font-size: 50px;
font-family: 'Abril FatFace', cursive;
font-weight: 100;
position: relative;
}

.section-title::before {
content: "";
position: absolute;
background-color: blue;
width: 50px;
height: 7px;
bottom: 0;
}

.bests-items {
margin: 100px;
}
.best-produits {
min-height: 200px;
display: flex;
flex-wrap: wrap;
}

.produit-box {
position: relative;
background-size: cover;
background-position: center;
}

.no-grid {
min-width: 350px;
height: 500px;
flex: 1;
}
.produit1 {
background-image: url(../image/s1.jpg);
background-size: 350px 350px;
}

.produit2 {
background-image: url(../image/s2.jpg);
background-size: 400px 400px;
}

.produit3 {
background-image: url(../image/l.jpg);
background-size: 330px 330px;
}
.produit4 {
background-image: url(../image/l3.jpg);
background-size: 400px 400px;
}
.produit5 {
background-image: url(../image/l2.jpg);
background-size: 400px 400px;
}
.produit6 {
background-image: url(../image/l1.jpg);
background-size: 300px 350px;
}
.produit7 {
background-image: url(../image/so1.jpg);
background-size: 400px 400px;
}
.produit8 {
background-image: url(../image/so2.jpg);
background-size: 400px 400px;
}
.produit9 {
background-image: url(../image/so3.jpg);
background-size: 400px 400px;
}
.produit-details {
position: absolute;
width: 100%;
bottom: 0;
background-color: #FFFFFFDF;
padding: 5px 20px;
}

.produit-name {
font-size: 22px;
font-weight: 600;
line-height: 3px;
}

.produit-price {
color: blue;
line-height: 3px;
font-size: 14px;
font-weight: 800;
}
.service-it-maintenance{
display: flex;
justify-content: center;
align-items: center;
margin: 100px;
}

.content-wrapper {

display: flex;
flex-direction: row;
align-items: center;

}

.image {
width: 400px;
height: auto;
margin-bottom: 20px;
}

.text {
margin-left: 20px;
}


.nav{
    display: none;
}
.menu-icon{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    padding: 10px;
    background-color: #191818;
    color: white;
    font-size: 24px;
    cursor: pointer;
}
.menu{
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    /* background-color: #191818; */
    color: white;
    padding: 50px 20px;
    z-index: 998;
    transition: right 0.3s ease-in-out;
}
.menu a{
    display: block;
    padding: 20px;
    font-size: 20px;
    color:teal;
    font-weight: bold;
    text-decoration: none;
}
.menu a:hover{
    background-color: #DDE0DE;
    color: black;
}
input[type=checkbox]:checked ~ .menu{
    right: 0;
}
footer{
    background-color:#191818;
    width: 100%;
    height: 300px;
    color: white;
   
}
div.copy{
    
    font-size: 20px;

margin: 20px;
position: relative;
    left: 30%;
    display: flex;
}
i{
    font-size: 30px;
    color: skyblue;
}
.i{
    color: red;
}
.f{
    color: blue;
}
.t {
    color: skyblue;
}
.l{
    color: darkblue;
}
.reseau{
    position: relative;
    left: 50%;
}

